body{ 
    
}
#one,#two,#three{
    border-left: 2px solid black;
}
 /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 5px;
      border-radius: 0;
        
    }
    /*this is to center an image in try.html */

    .center{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: snow;
      max-height: inherit;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: blue;
      color: white;
      padding: 15px;
    }

 /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }

