
.clear{
    clear: both;
}
.header p{
    padding: 0 0 10px 0;
    font-size: 16px;
}
/*Title of business*/

.nav-bk{
    background-color:#183650;
    background-image: url('../imgs/2.0.png');
    width: 100%;
    height: 300px;
}
/* span info*/
.span-list{
    background-color: #183650;
    height: 60px;
    color: #fff;
    text-align: center;
    padding-top: 20px;
}
.span-list span{
    padding: 15px;
    font-size: 20px;
}
.bottom-image-color{
    background-color: #183650;
    height: 80px;
}
.bottom-image-color h1{
    color: #fff;
    font-size: 40px;
    padding: 0px 0 0 20px;
    margin: 0;
}
/*Product Menu*/
/* Nav Bar*/
.clear{
    clear: both;
}
ul li img #nav1-logo{
    min-width: 20px;
    max-height: 20px;
}
#home{
    border-bottom: 5px solid #fff;
}
ul.nav1{
    list-style-type: none;
    padding: 0;
    margin: 0px;
    margin-right: 5%;
}
ul.nav1 li ul{
    list-style-type: none;
}
ul.nav1 li{
    float: right;
}
ul.nav1 li a{
    color: #000;
    display: block;
    text-decoration: none;
    padding: 30px 10px 10px 10px; 
    font-size: 20px;
}
ul.nav1 li a:hover{
    color: #000;
    border-bottom: 4px solid #fff;
}
ul.nav1 ul li a:hover{
    color: #fff;
    border-bottom: 4px solid #fff;
}
ul.nav1 li ul li {
    float: none;
}
ul.nav1 li ul{
    position: absolute;
    display: none;
    background-color: #326ea3;
    opacity: 0.7;
    color: #fff;
}
ul.nav1 li:hover ul{
    display: block;
}
ul.nav1 li ul a{
    border: none;
}
/* Contact*/
.contact{
    background-color: #5980a5;
    margin-bottom: 0;
    color: #fff;
    padding: 10px 0 10px 30px;
}
.contact h1{
    padding: 10px 0 10px 30px;

}
.contact p{
    font-size: 20px;
}
/* flexible terms**/
.flexy-left{
    float: left;
    padding: 80px 0;
    width: 25%;
    padding-left: 50px;
}
.flexy-right{
    padding: 60px 0;
    float: right;
    margin-left: 0;
    width: 70%;
    font-size: 18px;
}
.flexy-right p{
    padding-bottom: 15px;
}
/* Image */
.col-md-4 img{
    width: 500px;
    height: 220px;
}
.col-md-4 p{
    padding-top: 30px;
}
.col-md-4 h3{
    padding-top: 40px;
    text-align: center;
}
.footer{
    background-color: #183650;
}
.footer-container div,.copy{
    margin-left: 40px;
}
hr{
    width: 90%;
}
.footer-container div{
    padding: 5px;
}

.about-sec ul li{
    list-style: circle;
}
.container-c{
    margin: 3% auto;
    width: 90% ;
}
.about-sec h3{
    font-size: 40px;
    font-weight: 1px;
    padding: 20px 0;
}
.value-right{
    margin-right: 0%;
    padding-right: 400px;

}
footer{
    max-width: 100%;
    color: white;    
}
footer a {
    text-decoration: none;
    color: white;
}

@media screen and (min-width:400px) {

    div.about-us div, #copyright{
        max-width: 60%;
        margin: 0 auto;
    }
    #copyright{
        margin-top: 30px;
    }

    /* flexible terms**/
    .flexy-left{
        float: none;
        width: 100%;
        margin: auto;
    }
    .flexy-right{
        padding: 0px 0 0 20px;
        float: none;
        margin: auto;
        width: 95%;
    }
    .flexy-right p{
        padding-bottom: 15px;
    }
    /* head info*/
    .span-list{
        background-color: #183650;
        height: 60px;
        color: #fff;
        text-align: center;
        padding-top: 10px;
    }
    .span-list span{
        padding: 5px;
        font-size: 15px;
    }
}

@media screen and (min-width:620px) {
    /* flexible terms**/
    .flexy-left{
        float: left;
        padding: 80px 0;
        max-width: 35%;
        padding-left: 50px;
    }
    .flexy-right{
        padding: 60px 0;
        float: right;
        margin-left: 1px;
        width: 55%;
        font-size: 18px;
    }
    .flexy-right p{
        padding-bottom: 15px;
    }
    div.about-us{
        display: flex;
        flex-flow: row wrap wrap;
        overflow: inherit;
    }
    div.about-us div{
        max-width: 30%;
        margin: 0 auto;
    }
    #copyright{
        text-align: center;
        padding-top: 30px;
        padding-bottom: 8px;
    }

    .footer-container{
        display: flex;
        margin: 0px;
        justify-content: space-around;
    }
    .box1{
        width: 250px;
        
    }
    .copy{
        padding: 30px;
        margin-left: 30px;
    }
}

@media screen and (min-width:670px) {
    /* flexible terms**/
    .flexy-left{
        float: left;
        padding: 80px 0;
        max-width: 30%;
        padding-left: 50px;
    }
    .flexy-right{
        padding: 60px 20px;
        float: right;
        margin-left: 10px;
        width: 60%;
        font-size: 18px;
    }
}